<nav class="navbar navbar-expand-md bg-primary p-0" data-bs-theme="dark">
  <div class="container-fluid container-md px-0 px-md-3">
    <a class="navbar-brand p-0" aria-current="page" href="./index.html">
      <img src="../assets/images/w3/favIcon.jpg" alt="" width="80px" height="80px">
    </a>
    
    <div class=" navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav flex-column flex-md-row ms-auto fs-5">
        <div class="row g-0 text-center">
          <a class="nav-link col-6 border border-white border-md-0 col-md-auto px-md-6 py-md-4" href="./productsOpt.html">系列鏡框</a>
          <a class="nav-link col-6 border border-white border-md-0 col-md-auto px-md-6 py-md-4" href="./location.html">門市據點</a>
          <a class="nav-link col-6 border border-white border-md-0 col-md-auto px-md-6 py-md-4" href="./blogs.html">部落格</a>
          <a class="nav-link col-6 border border-white border-md-0 col-md-auto px-md-6 py-md-4 me-md-n6" href="./qa.html">常見問題</a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->